main{
    max-width:300px;
    margin:auto;
    display:flex;
    flex-direction: column;

> * > img{
    max-width:100%;
 }

> *{
    color:rgb(253, 253, 253);
    text-align: center;
}

.desktop-container > h1{
    font-size:1.6rem;
    margin-top:3.25rem;
    line-height: 1.6;
}

.desktop-container > p{
    margin-top:0;
    margin-bottom:1.5625rem;
    font-family: 'Open Sans', sans-serif ;
    line-height: 1.6;
}

.desktop-container > a {
    justify-content: center;
    align-items: center;
   

}

.desktop-container > div > .button{
    max-width: 100%;
    display:inline-block;
    padding:0.75rem 4.6875rem;
    background:rgb(253, 253, 253);
    text-decoration: none;
    font-size:0.9rem;
    color:$Violet;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
 
}

.desktop-container > div > .button:active{
    color:rgb(253, 253, 253);
    background:$SoftMagenta;
    
 
}

}




//DESKTOP//

main{
    @include breakpoint-up(large){
    max-width: 1310px;
    flex-direction: row;

 > .hero{
        min-width:720px;
        height:510px;
     }

> .desktop-container{
    margin-left:3.125rem;
    text-align:left;
}

.desktop-container > h1{
    font-size:2.5rem;
    
}

.desktop-container > p{
    font-size:1.18rem;
    margin-top:0;
    margin-bottom:1.5625rem;
    font-family: 'Open Sans', sans-serif ;
    line-height: 1.6;
}

.desktop-container > a {
    justify-content: center;
    align-items: center;
   

}

.desktop-container > div > .button{
    max-width: 100%;
    display:inline-block;
    padding:1rem 4.2rem;
    font-size:1.18rem;
    
 
}

    
    }
}

